.floatGroupButtonOpen {
  font-size: 28px !important;
  color: #ffffff !important;
}

.floatGroupButtonClose {
  font-size: 28px !important;
  color: #ffffff !important;
}

.floatButton {
  font-size: 24px !important;
  color: #ffffff !important;
}
